.quote-container {
  background: url(../quote.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  width: 320px;
}

.quote-content {
  height: 80px;
  width: 260px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 70px;
}
